/* Reset some default styles */
body, h1, h2, ul, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color */
}

/* Container for the whole page */
#container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff; /* White background */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Header styles */
h1 {
    padding: 20px;
    font-size: 36px;
    color: #333; /* Dark text color */
    text-align: center;
}

/* Header and player stats section */
#stats {
    padding: 20px;
    background-color: #3498db; /* Blue background for the stats section */
    color: #fff; /* White text color */
    border-radius: 5px;
    margin-bottom: 20px;
}

#stats h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2980b9; /* Darker blue for table headers */
    color: #fff; /* White text color */
}

/* Winning Seasons section */
#winning-seasons {
    padding: 20px;
    background-color: #3498db; /* Blue background for the winning seasons section */
    color: #fff; /* White text color */
    border-radius: 5px;
    margin-bottom: 20px;
}

#winning-seasons h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* List styles */
ul {
    list-style: none;
}

/* All-Time Scorers section (unchanged) */
#all-time-scorers {
    padding: 20px;
    background-color: #3498db; /* White background for the all-time scorers section */
    color: #fff; /* Dark text color */
    border-radius: 5px;
}

#all-time-scorers h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#schedule h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#schedule {
    padding: 20px;
    background-color: #3498db; /* White background for the all-time scorers section */
    color: #fff; /* Dark text color */
    border-radius: 5px;
}

#parallax-bg {
    background-image: url('Logo.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
