body,
h1,
h2,
ul,
table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Container for the whole page */
#container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

/* Header styles */
h1 {
    padding: 20px;
    font-size: 36px;
    color: #333;
    text-align: center;
}

/* Header and player stats section */
#stats {
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
}

#stats h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2980b9;
    color: #fff;
}

/* Winning Seasons section */
#winning-seasons {
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
}

#winning-seasons h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* List styles */
ul {
    list-style: none;
}

/* All-Time Scorers section */
#all-time-scorers {
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #ffffff;
    text-align: center;
}

#all-time-scorers h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* All-Time Scorers ordered list */
#all-time-scorers ol {
    text-align: center; 
    padding: 0; 
    display: inline-block; 
}

#schedule h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
}

#schedule {
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #ffffff;
    padding-bottom: 20px;
}

#parallax-bg {
    background-image: url('Logo.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Mapbox section styles */
#mapbox {
    max-width: 1080px;
    margin: 0 auto;
    padding: 30px 65px;
    background-color: #3498db;
    border: 3px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mapbox h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

/* Additional styling for better appearance */
#mapbox p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* New white box inside mapbox */
#map-container {
    
    background-color: #3498db;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

/* Map styles */
#map {
    
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

.my-menu {
    /*Sets all the content of dropdown div to center*/
    text-align: center;
}

#year {
    background-color: #3498db;
    color: white;
    border-color: White;
    padding: 10px 28px;
    font-size: 16px;
    border-width: 2px;
    border-radius: 4px;
}

#yearlabel {
    font-size: 16px;
    font-weight: bold;
}

